<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学適正診断</title>
    <link href="css/test.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/test_university.js"></script>
</head>
<body>
<div class="top">
    <label for="check" class="display_on">≡</label>
</div>

<div class="back_page">
    <a href="index.html">⇦ 戻る</a>
</div>
<h2 style="padding-left:6%;margin:0;padding-top:20px;">大学適性診断</h2>
<hr class="line">
<div class="detail">
    <p>これからする質問に対して正直に回答してください<br>なるべく「わからない」を選択しないようにするとより正確な結果になります</p>
</div>

<div class="frame">
<div class="question">
    <h1>Q1.質問内容</h1>
    <div class="center">
        <input type="radio" id="q1_1" name="q_1" value="4">
        <label for="q1_1">そう思う</label>
        <input type="radio" id="q1_2" name="q_1" value="3">
        <label for="q1_2">部分的に思う</label>
        <input type="radio" id="q1_3" name="q_1" value="2">
        <label for="q1_3">わからない</label>
        <input type="radio" id="q1_4" name="q_1" value="1">
        <label for="q1_4">部分的に思わない</label>
        <input type="radio" id="q1_5" name="q_1" value="0">
        <label for="q1_5">そう思わない</label>
    </div>
</div>
</div>

<div class="question">
    <h1>Q2.質問内容</h1>
    <div class="center">
        <input type="radio" id="q2_1" name="q_2" value="4">
        <label for="q2_1">そう思う</label>
        <input type="radio" id="q2_2" name="q_2" value="3">
        <label for="q2_2">部分的に思う</label>
        <input type="radio" id="q2_3" name="q_2" value="2">
        <label for="q2_3">わからない</label>
        <input type="radio" id="q2_4" name="q_2" value="1">
        <label for="q2_4">部分的に思わない</label>
        <input type="radio" id="q2_5" name="q_2" value="0">
        <label for="q2_5">そう思わない</label>
    </div>
</div>

<div class="end">
    <hr class="line">
    <button type="button" onclick="calculateScore()">診断する</button>
</div>

<!--サイドバー-->
<section>
<input class="sidebar_button" type="checkbox" id="check">
<label for="check" class="dark"></label>
<div class="sidebar">
    <h2>情報一覧</h2>
    <ul>
        <li><a href="index.html">トップページ</a></li>
        <li>◆診断一覧◆</li>
        <li><a href="test_university.html">大学適正診断</a></li>
        <li><a href="test_department.html">学科適正診断</a></li>
    </ul>
</div>
</section>

</body>
</html>