<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>診断結果 - 東京電機大学</title>
    <link href="css/result_university.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<!--ページのトップ-->
<div class="top">
<label for="check" class="display_on">≡</label>
</div>


<!--サイドバー-->
<section>
<input class="sidebar_button" type="checkbox" id="check">
<label for="check" class="dark"></label>
<div class="sidebar">
    <h2>情報一覧</h2>
    <ul>
        <li><a href="index.html">トップページ</a></li>
        <li>◆診断一覧◆</li>
        <li><a href="test_university.html">大学適正診断</a></li>
        <li><a href="test_department.html">学科適正診断</a></li>
    </ul>
</div>
</section>
    
</body>
</html>